## Analyses of demographic data extracted from the census database
These analyses were done for the second project of the Data Analysis with Python Certification series on FreeCodeCamp

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/adult.data.csv')

#### Counts of individuals by race

In [3]:
race_count = df.groupby(['race']).size()
race_count

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### Average age of men

In [5]:
average_age_men = df.loc[df['sex'] == 'Male']['age'].mean()
average_age_men

39.43354749885268

#### Percentage of people with bachelors degrees

In [6]:
percentage_bachelors = df.loc[df['education'] ==
                                'Bachelors']['education'].size * 100 / df['education'].size
percentage_bachelors

16.446055096587944

#### Split data by degree
Calculate percentage of high earners (>50K a year) for people with Bachelors degree and above and those without higher educatir

In [7]:
higher_education = df.loc[df['education'].isin(
                                    ['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df.loc[
    ~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

higher_education.head()
lower_education.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [8]:
higher_education_rich = higher_education.loc[
    higher_education['salary'] ==
    '>50K']['salary'].count() / higher_education['salary'].count() * 100
lower_education_rich = lower_education.loc[
    lower_education['salary'] ==
    '>50K']['salary'].count() / lower_education['salary'].count() * 100

higher_education_rich

46.535843011613935

#### Find the number of people that work the minimum number of hours and what percentage of them is rich

In [9]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [10]:
num_min_workers = df.loc[(df['hours-per-week'] == min_work_hours)]['hours-per-week'].count()
num_min_workers

20

In [11]:
rich_percentage = df.loc[(df['hours-per-week'] == min_work_hours) & (
    df['salary'] == '>50K')]['hours-per-week'].count() / num_min_workers * 100
rich_percentage

10.0

#### Find the country with the highest percentage of high earners

In [12]:
count_high_earners = df.loc[df['salary'] == '>50K'].groupby(
    'native-country').size()
people_by_country = df.groupby('native-country').size()
percentages = pd.concat([count_high_earners, people_by_country], axis=1).reset_index()

percentages.columns = ['country','high-earners', 'people']


percentages[
    'percent'] = percentages['high-earners'] / percentages['people']
percentages = percentages.loc[percentages['percent']==percentages['percent'].max(), 'country']
out = percentages.iat[0]
out

'Iran'

#### Find the most occupation that earns people the most in India

In [13]:
india_data = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
india_occupations_counts = india_data.groupby('occupation').size()
india_occupations_counts.colums = ['count']
india_occupations_counts = india_occupations_counts.sort_values()
india_occupations_counts.index.to_list()[-1]

'Prof-specialty'